* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
   background-color: @base00;
   border: none;
   color: @base05;
   transition-property: background-color;
   transition-duration: .5s;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-notifications,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: @base05;
}

#workspaces button {
    background: transparent;
    color: @base03;
}

#workspaces button.active {
    background: transparent;
    color: @base08;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

.modules-center {
    margin-left: 0px;
    margin-right: 0px;
}

#custom-notch {
    background: transparent;
    color: transparent;
}

#cava {
    padding: 0 20px;
    font-size: 10px;
    color: @base03;
    margin-left: 30px;
}
       
#mpris {
    margin-left: 5px;
    color: @base0B;
}

#custom-notifications {
  color: @base04;
  font-size: 10px;
}

#bluetooth.disabled, #bluetooth.on {
    color: @base03;
}

#bluetooth.connected {
    color: @base0C;
}

#network.disabled, #network.disconnected {
    color: @base03;
}

#network.wifi {
    color: @base0B;
}

#wireplumber {
    color: @base0A;
}

#wireplumber.base03 {
    color: @base03;
}

#battery {
    color: @base0C;
}

#battery.full.charging {
}

#battery.warning:not(.charging) {
    color: @base09;
}

#battery.critical:not(.charging) {
    color: @base08;
}

#clock {
   color: @base0D;
}
