* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: rgba(29, 32, 33, 1);
    border-bottom: 3px solid #665C54;
    color: #A89984;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #A89984;
    border-bottom: 3px solid transparent;
}

#workspaces button.urgent {
    padding: 0 5px;
    background: transparent;
    color: #FB543F;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    border-bottom: 3px solid #A89984;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid #A89984;
}

#clock, #battery, #cpu, #memory, #backlight, #network, #pulseaudio, #custom-spotify, #tray, #mode, #idle_inhibitor, #openvpn {
    padding: 0 5px;
    margin: 0 5px;
}

#battery {
    color: #A89984;
}

#battery.charging {
    color: #95C085;
}

@keyframes blink {
    to {
	background-color: rgba(29, 32, 33, 1);
        color: #A89984;
    }
}

#battery.critical:not(.charging) {
    color: #FB543F;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    color: #665C54;
}

#pulseaudio {
    color: #A89984;
}

#pulseaudio.muted {
    color: #665C54;
}

#idle_inhibitor.activated {
    color: #A89984;
}

#idle_inhibitor.deactivated {
    color: #665C54;
}

#openvpn {
    color: #665C54;
}

#openvpn.active {
    color: #95C085;
}

#openvpn.inactive {
    color: #FAC03B;
}

#openvpn.disabled {
    color: #665C54;
}
